@model List<TrendSearch.Domain.Result>
@{
    ViewBag.Title = "TrendSearch - results for \"" + ViewBag.KeyWords + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    <style type="text/css">
      .center {
        text-align: center !important;
      }
    </style>
}
<div class="row">
    <div class="span12">
        <h3>Results for "@ViewBag.KeyWords"</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="center">Source</th>
                    <th>Result</th>
                    <th class="center">Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TrendSearch.Domain.Result mCurrentResult in Model)
                {
                    <tr>
                        <td class="center"><img src="@mCurrentResult.IconURL" /></td>
                        <td><a href="@mCurrentResult.URL">@mCurrentResult.Title</a></td>
                        <td class="center">@mCurrentResult.Rating</td>
                    </tr>    
                }
            </tbody>
        </table>
        <a href="/Search" class="btn">New search</a>
    </div>
</div>